@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.multiSelect {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.value {
  display: flex;
  align-items: center;
  border: 1px solid #b4b4b4;
  padding: 10px;
  justify-content: space-between;
}

.value .chip {
  display: flex;
  flex-wrap: wrap;
}

.value .chip > * {
  margin: 2px;
}

.drop-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  top: 100%;
  width: 100%;
  border: 1px solid #b4b4b4;
  border-top: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  background-color: #fff;
  padding: 8px 0;
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 8px;
}

.checkbox div {
  margin-left: 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.avatar-contianer {
  padding: 10px 20px;
}
.button-popUp-add {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
}

.avatar {
  cursor: pointer;
}

.flex-center {
  display: flex;
  height: 100vh;
  align-items: center;

  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 380px;
  padding: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}
.error-message {
  word-wrap: break-word;
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .form {
    padding: 30px;
  }
}

.left-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-select-none{
  user-select: none;
}

.clickable-row:hover {
  cursor: pointer;
}